@model IEnumerable<kauaicapstone.Models.ViewLocation>

@{
    ViewData["Title"] = "Default";
}

   


   
    <div>
@foreach (var item in Model) {
        <dl>
            <dd>
                <a asp-action="Details" asp-route-id="@item.ViewLocationId">@Html.DisplayFor(modelItem => item.Name)</a> 
            </dd>
        </dl>
}
    </div>

