
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">waimakua</h1>
    <p>waimakua is an open source directory for kauai legends. here are some tips on how to get started</p>
</div>
<div class="home-description">
    <p>many hawaiian legends are based on physical land formations. a mountain range, a waterfall, a beach--all have their own story
    to tell. since many of these places may not be easily accessible, we have viewing locations from which you may see many geographical features with their own legend. we ask that you treat these places with reverence and respect and enjoy the many tales ahead!</p>
</div>

<div class="search-header">
    <p>where would you like to go?</p>
    <form asp-controller="ViewLocations" asp-action="SearchIndex" method="get">
        <input type="text" placeholder="search locations" name="searchString" value="@ViewData["currentFilter"]" id="searchString" />
        <input type="submit" value="search" class="btn btn-sm btn-info" asp-area="" asp-controller="ViewLocations" asp-action="SearchIndex" />
    </form>
</div>


