
@{
    ViewData["Title"] = "Welcome";
}
<div class="landing-div">
<h1>welcome to waimakua</h1>
<p>waimakua is an open source directory for kauai legends. here's some information on why this is important. i'll fill this in later but let's just try this out.</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">enter</a>
     </div>                   

