
@{
    ViewData["Title"] = "Welcome";
}
<body class="welcome-body">
<div>
    <div class="welcome-header">
        <h1>welcome to waimakua</h1>
    </div>
    <div class="welcome-description">
        <p>waimakua is an open source directory for kauai legends.</p>
    </div>
    <div class="enter-tag">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">enter</a>
        </div>

        </div>
</body>
