@model kauaicapstone.Models.Legend
@{
    ViewData["Title"] = "Approve";
}

<h1>are you sure you want to approve this submission?</h1>

<a asp-controller="Legends" asp-action="Approve" class="btn btn-primary" > approve </a>


