@model kauaicapstone.Models.ViewModels.LocationsLegendViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>add new legend</h1>

<h4>where can you see this legend from?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="ViewLocations" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @foreach (var item in Model.AvailableLocations)
                {
                    <input name="ViewLocationInput" type="checkbox" value="@item.ViewLocationId" /> @item.Name <br>
                }
            </div>
            <div class="form-group">
                <input asp-controller="Legends" asp-action="CreateForm" type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div class="not-available">
    <a asp-controller="ViewLocations" asp-action="Create" asp-route-id="@Model.ViewLocation">i don't see my location</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
