@model IEnumerable<kauaicapstone.Models.Legend>

@{
    ViewData["Title"] = "Title";
}

<h2>Legends</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table">
    <div>
        
            <dl>
                @Html.DisplayNameFor(model => model.Title)
            </dl>
        
    </div>
    <div>
@foreach (var item in Model) {
        <dl>
            <dd>
                <a asp-action="Details" asp-route-id="@item.LegendId">@Html.DisplayFor(modelItem => item.Title)</a> 
                
            </dd>
           
        </dl>
}
    </div>
</div>
