@model IEnumerable<kauaicapstone.Models.Legend>

@{
    ViewData["Title"] = "Index";
}
    <div class="location-header">
        <h5>legends</h5>
    </div>

<p class="create-link">
    <a asp-action="Create">create new</a>
</p>
<div class="table">


    <div>

        
        @foreach (var item in Model)
        {
            <dl>
                <dd>
                    <a asp-action="Details" asp-route-id="@item.LegendId">@Html.DisplayFor(modelItem => item.Title)</a>

                </dd>

            </dl>
        }

    </div>

</div>



