@model kauaicapstone.Models.ViewLocation

@{
    ViewData["Title"] = "Edit";
}

    <div class="legend-create-header">
        <h4>edit location</h4>
    </div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ViewLocationId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewPointAddress" class="control-label"></label>
                <input asp-for="ViewPointAddress" class="form-control" />
                <span asp-validation-for="ViewPointAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" type="hidden">
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
