@model IEnumerable<kauaicapstone.Models.ViewLocation>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
}
    <div class="location-header">
        
        <h5>locations</h5>
    </div>
@if (UserManager.GetUserAsync(User).Result.IsAdmin)
{
    <p class="create-link">
        <a asp-action="Create">create new</a>
    </p>
}
<div class="table">
    @*<dl>

        <dd>
            @Html.DisplayNameFor(model => model.Name)
        </dd>


    </dl>*@
    <div>
        @foreach (var item in Model)
        {
            <dl>
                <dd>
                    <a asp-action="Details" asp-route-id="@item.ViewLocationId">@Html.DisplayFor(modelItem => item.Name)</a>
                </dd>


            </dl>
        }
    </div>
</div>
